<!-- 
  Autoren:  Manuel Mitterer, Matthias Prieth
  Lizenz:   AGPL 3
 -->

<h2 class="brand">Info</h2>
<p>„Metamorphosis“ ist eine Plattform, bei der User eigene <b>Bilder</b> hochladen können, die dann von anderen mit eigenen Bildbearbeitungsprogrammen weiterbearbeitet werden können.</p></br> 

Die Plattform ist speziell für Künstler/Hobbydesigner entwickelt worden. Das Grundprinzip ist also, dass Sie eigene unbearbeitete Bilder die Ihnen gefallen als Vorlage(in Form einer <b>„Challenge“</b>) hochladen können. Andere User können nun diese „Challenge“ annehmen und haben die Möglichkeit diese Vorlagen herunterzuladen, kreativ mit eigenen Bildbearbeitungsprogrammen zu bearbeiten und wieder hochzuladen. So könnten für Ihr anfangs gepostetes Vorlagenbild nun die verschiedensten Variationen von Bildern entstehen.</p></br>

<p>Die Plattform sieht vor, dass unangemeldete User Bilder betrachten und runterladen können. Angemeldete User können diese Bilder zusätzlich bearbeiten, wieder hochladen und bewerten. Beim Bewerten der Bilder, wirkt sich dies positiv auf den Punktestand der User aus, welcher dann in der Bestenliste nach oben steigt.</p>


<h2 class="brand">Impressum</h2>
<p><%= image_tag("authors/author_1.jpg") %> Manuel Mitterer</p>
<p><%= image_tag("authors/author_2.jpg") %> Matthias Prieth</p><br>
<a href="http://www.fh-salzburg.ac.at/" target="_blank">FH Salzburg</a><br>
<a href="http://www.fh-salzburg.ac.at/disziplinen/medien-design-kunst/bachelor-multimediatechnology/beschreibung/beschreibung/" target="_blank">Studiengang MultiMediaTechnology</a><br>
</p>
<p>Alle hochgeladenen Bilder werden unter der <a href="http://creativecommons.org/licenses/by/3.0/legalcode" target="_blank"> Creative Commons License</a> veröffentlicht. </p>

<p>Dieses Webprojekt wurde unter der <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">AGPL</a> veröffentlicht.
</p>
<br>
<p><i class="icon-warning-sign"></i> <u>Haftungshinweis</u></p>
<p>
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</p>